{% extends 'base.html' %}

{% block title %}
{{ song_object.title }} - {{ song_object.artist }}
{% endblock title %}

{% block content %}
<header>
    <nav>
        <p><b>{{ song_object.title }}</b> by {{ song_object.artist }}</p>
    </nav>
</header>
<main>
    <h1>{{ song.title }}</h1>
    <img src="{{song_object.album_cover }}" alt="Jeffer Drive" />
    <p>By: {{ song_object.artist }}</p>
    <p><i>{{ song_object.date_published }}</i></p>
</main>
{% endblock content %}